layout {
    default_tab_template name="main" {
        // compact-bar at the top
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" {
                tooltip "F1"
            }
        }
        children
    }

    tab name="user" cwd="~/" {
        pane
    }

    tab name="il10" {
      pane cwd="~/code/il_10/ilias_10/"
      pane split_direction="vertical" {
        pane cwd="~/code/il_10/"
        pane cwd="~/code/il_10/"
        pane cwd="~/code/il_10/"
      }
    }

    tab name="il10_auth" {
      pane cwd="~/code/il_10_auth/ilias_10/"
      pane cwd="~/code/il_10_auth/ilias_10/"
      pane split_direction="vertical" {
        pane cwd="~/code/il_10_auth/"
        pane cwd="~/code/il_10_auth/"
      }
    }
}
